{% extends 'base.html.twig' %}

{% block title %}Mon Profile{% endblock %}

{% block body %}

    <section id="header" class="jumbotron jumbotron-fluid text-center">
        <img src="{{ asset('images/logo/TerrePlurielle.png') }}" class="d-inline-block align-top" alt="">
    </section>


    <section class="container app account">
{% if is_granted('ROLE_USER') %}
        <div class="container-content">

            <div class="title-content">
                <h1>Profile</h1>
                <a href="{{ path('app_edit_account')}}"><i class="far fa-edit"></i></a>  
                <hr>
            </div>
                    
            <div class="profile">

                <div class="block-profile">
                    <h5>Nom: </h5>
                    <p>{{ app.user.firstName }}</p>
                </div>

                <div class="block-profile">
                    <h5>Prénom: </h5>
                    <p>{{ app.user.surname }}</p>
                </div>

                <div class="block-profile"> 
                    <h5>Date de naissance: </h5>   
                    <p> {{ app.user.getDateDeNaissance() | date("m/d/Y")}} </p>

                </div>

                <div class="block-profile">
                    <h5>Parents: </h5>

                    {% if app.user.getFirstNameParent1 and app.user.getSurnameParent1 %}
                    <p>{{ app.user.getFirstNameParent1 }} {{ app.user.getSurnameParent1 }}</p>
                    {% endif %}

                    {% if app.user.getFirstNameParent2 and app.user.getSurnameParent2 %}
                    <p>et {{ app.user.getFirstNameParent2 }} {{ app.user.getSurnameParent2 }}</p>
                    {% endif %}
                </div>
                
                <div class="block-profile">
                    {% if app.user.getFirstnameOrthophoniste and app.user.getSurnameOrthophoniste and app.user.getFirstnameEducateur and app.user.getSurnameEducateur %}
                    <h5>Professionnels: </h5></br>
                    <p>{{ app.user.getSurnameEducateur }} {{ app.user.getFirstnameEducateur }} - Educateur</p></br>
                    <p>Dr.{{ app.user.getSurnameOrthophoniste }} {{ app.user.getFirstnameOrthophoniste }} - Orthophoniste</p>
             
                    
                    {% elseif app.user.getFirstnameEducateur and app.user.getSurnameEducateur %}
                    <h5>Éducateur: </h5>
                    <p>{{ app.user.getFirstnameEducateur }} {{ app.user.getSurnameEducateur }}</p>
                   {% elseif  app.user.getFirstnameOrthophoniste and app.user.getSurnameOrthophoniste %}
                    <h5>Orthophoniste: </h5>
                    <p>Dr.{{ app.user.getFirstnameOrthophoniste }} {{ app.user.getSurnameOrthophoniste }}</p>
                    {% endif %}
                </div>

            </div>



               
            
        </div>
{% endif %}      

    </section>



{% endblock %}